/* 스크롤 이동을 부드럽게 */
/* html {
  scroll-behavior: smooth;
} */

/* COMMON */
body {
  /* 기본(공통) 스타일 */
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.inner {
  /* 고정 길이=고정형 */
  /* width: 1100px; */
  /* 최대값만 제한=반응형 */
  max-width: 1100px;
  /* 가로 너비를 가진 블록 요소를 부모 안에서 가운데 정렬 */
  margin: 0 auto;
  /* inner div 기준으로 내부 요소를 absolute로 배치하기 위해 */
  position: relative;
}

img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(Baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

/* 전역 버튼 스타일 */
/* 버튼과 같이 여러 곳에서 반복 사용되는 요소를 공통 스타일로 작업하면, 매번 다시 작성할필요가 없음 */
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;
  display: block; /* a, span 같은 인라인 요소를 버튼으로 사용할 수도 있으니 블록으로 지정 */
  transition: 0.4s;

  /* (참고) 커서 모양 커스텀 */
  /* cursor: url("https://blog.kakaocdn.net/dn/BQXpN/btq3qNR67Lg/8tx8tGzkOcr5BuX5dyIaKk/img.png") 58 58, auto; */
}

.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

/* 스크롤 시 애니메이션을 공통 스타일로 추가 */
/* BACK TO POSITIONS */
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-left {
  /* 오른쪽에서 왼쪽으로 나타나는 */
  transform: translateX(150px);
}
.back-to-position.to-right {
  /* 왼쪽에서 오른쪽으로 나타나는 */
  transform: translateX(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* HEADER */
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  width: 100%; /* 가로 너비를 지정하지 않으면 최소한으로 줄어드려고함 */
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  /* background-color: orange; */
  height: 120px;
}
header .logo {
  position: absolute;
  height: 75px;
  /* Quiz: 로고의 수직 가운데 배치 */
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu {
  /* 부모 요소(.inner)에 position 값이 있는지 확인 */
  position: absolute;
  top: 10px;
  right: 0;
  /* 자식 요소(메뉴와 검색 영역)를 수평 배치 */
  display: flex;
}
header .sub-menu ul.menu {
  /* 메뉴 아이템(li)들을 수평 배치 */
  display: flex;
  font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li {
  /* 부모 요소에 위치 기준 */
  position: relative;
}
header .sub-menu ul.menu li::before {
  /* 메뉴 아이템 사이 구분선 */
  content: ""; /* 필수 속성 */
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  /* 첫번째 메뉴 요소의 구분선 숨기기 */
  display: none;
}
header .sub-menu ul.menu li a {
  display: block; /* 상하 여백 적용을 위해 변경 */
  padding: 11px 16px; /* 클릭할 수 있는 영역을 넓혀주는 효과 */
  font-size: 13px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .sub-menu .search {
  position: relative;
  height: 34px;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}
/* input에 포커스 됐을 때 변화 */
header .sub-menu .search input:focus {
  width: 190px;
  /* border: 1px solid #669900; */
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px; /* 수직 가운데 배치를 위한 세로 높이 */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: opacity 0.4s;
}
/* header .sub-menu .search.focused .material-icons {
  opacity: 0;
} */
/* 또는 focused 클래스 추가 없이 선택하는 법 */
header .sub-menu .search input:focus + .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /* 드롭다운 될 요소가 더 위에 보이게 하려고*/
}
header .main-menu .item .item__name {
  display: block; /* 상하 여백 적용을 위해 변경*/
  padding: 10px 20px 34px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #333;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0; /* 좌상단 부터 시계 방향 적용*/
}
header .main-menu .item .item__contents {
  background-color: #2c2a29;
  position: fixed;
  width: 100%;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item:hover .item__contents > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item:hover .item__contents > ul > li {
  /* 상세 메뉴 가로 너비를 통일 */
  width: 220px;
}
header .main-menu .item:hover .item__contents > ul > li h4 {
  padding: 3px 0 12px;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item:hover .item__contents > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item:hover .item__contents > ul > li ul li:hover {
  color: #669900  ;
}

/* 전역 배지(고정 배너) */
header .badges {
  position: fixed;
  top: 132px;
  right: 12px;

  /* position: absolute;
  top: 132px;
  right: 12px; */

  /* transition: 0.6s; */
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px ;
  /* x축거리, y축거리, 흐림 처리(blur) 범위, 확대/축소(spread) 범위, 색상 */
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  /* (중요)
  헤더가 fixed 되어 일반 배치 흐름에서 벗어남 (주변 요소들과 상호작용하지 않음)
  헤더 다음에 오는 섹션은 헤더의 높이만큼 외부 여백 추가 필요
   */ 
  margin-top: 120px;
  background-image: url(../images/visual_bg.jpg);
  background-position: center;
}
.visual .inner {
  height: 646px;
  /* background-color: coral; */
}
.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
  }
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
position: absolute;
bottom: 0;
right: 162px;
}
.visual .cup2.text {
position: absolute;
top: 321px;
right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  /* 투명한 상태에서 시작되도록 세팅 */
  opacity: 0;
}

/* NOTICE */
.notice {
  position: relative;
}
.notice .bg-left {
  width: 50%;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
.notice .bg-right {
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}
.notice .inner {
  height: 62px;
  /* border: 2px solid red; */
  display: flex;
}
.notice .inner__left {
  /* 방법1. %를 사용하여 비율 나누기 */
  /* width: 70%; */
  /* 방법2. flex를 사용하여 비율 나누기 */
  flex: 7;
  background-color: #333;
  display: flex;
  align-items: center;
}
.notice .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .inner__left .swiper {
  /* background-color: orange; */
  height: 62px;
  flex-grow: 1; /* 최대한 늘어나도록 지정, flex: 1; 을 써도 같은 결과*/
}
.notice .inner__left .swiper .swiper-slide {
  display: flex;
  align-items: center;
}
.notice .inner__left .swiper .swiper-slide a {
  color: #fff;
}
.notice .inner__left .notice-more {
  width: 62px;
  height:  62px;

  /* Quiz : 정중앙 정렬(1) */
  /* text-align: center; */

  /* Quiz : 정중앙 정렬(2) */
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .inner__left .notice-more .material-icons {
  /* 정중앙 정렬(1) */
  /* line-height: 62px; */

  /* 아이콘은 글자 관련 속성이 적용됨 */
  color: #fff;
  font-size: 30px;
}
.notice .inner__right {
  /* width: 30%; */
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.notice .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

/* PROMOTION */
.promotion {
  height: 663px;
  background-color: #f6f5ef;
  display: flex;
  justify-content: center; /* 슬라이드 수평 가운데 정렬 */
  position: relative; /*페이지네이션 요소 배치를 위해*/
  overflow: hidden;
  transition: height 0.4s;
}
.promotion.hide {
  /* display: none; */
  height: 0;
}
.promotion .swiper {
  /* 이미지(819px) 슬라이드 3개 + 사이 여백(10px) 2개 = 2477px */
  width: 2477px;
  /* width: calc(819px * 3 + 10 * 2); */
  /* 활용 예시: width: calc(100% - 120px); */
  height: 553px;
  /* Flex Item인 .swiper가 2477을 유지하기 위해 감소 너비 비율을 0으로 */
  flex-shrink: 0;
}
.promotion .swiper-slide {
  /* 모든 슬라이드를 반투명하게, active 한 것만 불투명하게 */
  opacity: 0.5;
  transition: opacity 1s;
  position: relative;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  /* Quiz: aboslute 요소의 수평 가운데 배치 */
  left: 0;
  right: 0;
  margin: 0 auto;
}
.promotion .swiper-pagination {
  position: absolute;
  bottom: 40px;
  /* 헤더의 z-index가 9이기 때문에 1로 덮어씌움
    아니면 헤더를 10보다 크게해도 됨 */
  z-index: 1;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  /* 기존 배경색은 투명하게 숨기고, 배경 이미지를 사용 */
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

/* 다중 선택으로 공통스타일 지정 */
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  color: #333;
}
.promotion .swiper-button-prev {
/* 가운데로 몰어넣고 마진으로 위치 조정 */
left: 50%;
margin-left: -480px;
}
.promotion .swiper-button-next {
  /* 가운데로 몰어넣고 마진으로 위치 조정 */
right: 50%;
margin-right: -480px;
}
.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none;
}

/* REWARDS */
.rewards {
  position: relative;
}
.rewards .bg-left {
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  height: 241px;
  background-image: url("../images/rewards.jpg");
}
.rewards .btn-group {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  /* 버튼 하나의 크기가 130px */
  position: absolute;
  right: 0;
  bottom: 24px;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
}
.rewards .btn-group .btn.gift {
  /* Flex Container 내부에서최대한의 너비를 쓸 수 있도록 */
  /* flex-grow: 1; */
  flex: 1;
  margin-top: 10px;
}

/* YOUTUBE */
.youtube {
  position: relative; /* 부모에 위치 기준 */
  height: 700px;
  background-color: #333;
  overflow: hidden; /* 영상 출력 넘치는 부분 숨기기 */

  /* 정가운데 배치 방법1 */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.youtube .youtube__area {
  width: 1920px;
  height: 1080px;
  background-color: lightseagreen ;

  /* 정가운데 배치방법2 */
  position: absolute;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto */

  /* 정가운데 배치방법3 */
  /* 부모의 50% 위치에 배치하고 margin을 이용하여 정가운데로 옮기기 */
  left: 50%;
  top: 50%;
  /* 가로 너비의 절반만큼 땡겨오기 */
  margin-left: calc(1920px / -2);
  /* 세로 높이의 절반만큼 땡겨오기 */
  margin-top: calc(1080px / -2);

  /* (참고) 중복 스타일 변수로 선언 */
  /* 너비, 높이를 수정할 겨우 총 4곳 수정 필요 => CSS 변수 선언으로 재사용 
    2개의 대시(--)기호로 시작하고 원하는 변수명을 지정: CSS 값
    선던왼 변수는 CSS var() 함수를 통해 사용
    
    활용 예: 주로 색상 지정 시 사용
    */
    /* 주의! 자신이 선언된 선택자와 그 하위 요소에서만 유효
    젼역 변수로 사용하고 싶으면,
    html {
      --error: red;
    }
    또는
    :root {
      --error: red;
    }
    */
  --width: 1920px;
  --height: 1080px;
  width: var(--width);
  height: var(--height);
  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--height) / -2);
}
#player {
  /* 부모 영역에 가득 차도록 지정 */
  width: 100%;
  height: 100%;
}
.youtube .youtube__cover {
  /* position: fixed;
  z-index: 11; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../images/video_cover_pattern.png);
}
.youtube .inner {
  height: 100%;
  /* background-color: royalblue; */
}
.youtube .floating1 {
position: absolute;
top: 50px;
left: 0;
}
.youtube .floating2 {
position: absolute;
top: 350px;
left: 150px;
}
/* .youtube .floating3 {
position: absolute;
bottom: -200px;
right: 0;
} */

/* SEASON PRODUCT */
.season-product {
  background-image: url(../images/season_product_bg.jpg);
}
.season-product .inner {
  height: 400px;
}
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
  }
  .season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title {
  margin-bottom: 10px;
}
.season-product .text-group .description {
  margin-bottom: 15px;
}

/* RESERVE COFFEE */
.reserve-coffee {
  background-image: url(../images/reserve_bg.jpg);
}
.reserve-coffee .inner {
  height: 400px;
}
.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");

  /* 배경 이미지에 시차 효과(Parallax) 주기 */
  background-attachment: fixed; /* 배경 이미지가 뷰포트에 고정 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pick-your-favorite .inner {
  padding:  110px 0;
}
.pick-your-favorite .text-group {
  /* border:  10px solid red; */
  display: flex;
  flex-wrap: wrap;
  width: 362px;
  justify-content: flex-end;
  margin-left: 100px;
}
.pick-your-favorite .title {
  margin-bottom: 40px;
}
.pick-your-favorite .description {
  margin-bottom: 40px;
}
/* RESERVE SOTRE. */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");

    /* 배경 이미지에 시차 효과(Parallax) 주기 */
    background-attachment: fixed; /* 배경 이미지가 뷰포트에 고정 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal {
  width: 334px;
  height: 334px;
  
  /* 회전하는 요소의 부모 요소에 원근 거리를 추가 */
  perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back {
  position: absolute;
  backface-visibility: hidden; /* 회전된 요소의 뒷면을 숨김 */
  transition: 1s;
}
.reserve-store .medal .front {
transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
transform: rotateY(180deg);
}
.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* FIND STORE */
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture1 {
  position: absolute;
  top: -60px;
  left: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
}
.find-store .picture2 {
  position: absolute;
  top: 150px;
  left: 250px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}

/* AWARDS */
.awards {
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper {
  width: 100%;
  height: 40px;
}
.awards .swiper-button-prev,
.awards .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  opacity: 0.3;
  position: absolute;
  transition: 0.4s;
}
.awards .swiper-button-prev {
  left: -100px;
}

.awards .swiper-button-next {
  right: -100px;
}

.awards .swiper-button-prev:hover,
.awards .swiper-button-next:hover {
  background-color: #fff;
  color: #333;
}
.awards .swiper-button-prev::after,
.awards .swiper-button-next::after {
  display: none;
}

/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: ""; /* 필수 속성 */
  display: block;
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top:0 ;
  bottom: 0;
  margin: auto;
}
footer .menu li:first-child:before  {
  display: none;
}
footer .menu li a {
  display: block; /* 상하 여백 적용을 위해 */
  padding: 15px;
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
}
footer .menu li a.green {
  color: #669900;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /* column-gap: 10px; */
}
footer .btn-group .btn {
  font-size: 12px;
  /* 방법1: marjin-right를 주고 마지막 요소의 marjin값 제거 */
  /* margin-right: 10px; */
}
/* 방법1: marjin-right를 주고 마지막 요소의 marjin값 제거 */
/* footer .btn-group .btn:last-child {
margin-right: 0;
} */
/* 방법2: + 인접 형제 선택자 */
footer .btn-group .btn + .btn {
  margin-left: 10px;
}

footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  color: #999;
  font-size: 12px;
}
footer .info span + span {
  margin-left: 20px;
}

footer .copyright {
  color:  #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}

footer .logo {
  /* img 요소가 display: block; 인 경우, width 속성이 없이도
  가운데 정렬이 가느함! */
  margin: 30px auto 0;
}

/* SCROLL TO TOP */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  opacity: 0;
}